.popup__info {
  display: flex;
  flex-direction: column;
  padding: 39px 36px 0;
  border: none;
}

.popup__info-string {
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: 15px 0 13px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__info-string:focus {
  outline: none;
}

.popup__info-string:first-child {
  margin-bottom: 8px;
}
