.popup__save {
  width: 358px;
  height: 50px;
  left: 461px;
  top: 438px;
  background: #000000;
  border-radius: 2px;
  margin: 48px 36px 0;
}

.popup__save-text {
  font-weight: 400px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}
