.page__center {
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .page__center {
    max-width: 282px;
  }
}

@media screen and (max-width: 1023px) {
  .page__center {
    max-width: 440px;
  }
}