.profile__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
}

@media screen and (max-width: 767px) {
  .profile__subtitle {
    margin-top: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .profile__subtitle {
  }
}
