.popup__close-button_img {
    background-image: url(../../../../images/CloseIcon.svg);
    background-size: contain;
    width: 32px;
    height: 32px;
    position: absolute;
    padding: 0;
    border: 0;
    right: 582px;
    top: 14px;
    background-color: transparent;
}