.profile__avatar {
  /* margin-top: 36.25px; */
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-image: url(../../../images/jack_iv_custo.jpg);
  /* width: 168.75px;
  height: 127.5px; */
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
