.element {
  /* max-width: 282px; */
  /* max-height: 361px; */
  background-color: #ffffff;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .element {
    margin: auto;
    margin-top: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .element {
    
  }
}